@using ThomasGreg.Application.Responses;
@model ClienteResponse
<div class="container mt-4">
    @if (Model != null)
    {
        ViewData["ClienteId"] = Model.Id;
        <h2 class="fw-bold">Editar Cliente</h2>
        <hr />
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="Nome" class="form-label">Nome:</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Email" class="form-label">Email:</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Logotipo" class="form-label">Logotipo:</label>
                <input asp-for="Logotipo" type="file" class="form-control" />
                <span asp-validation-for="Logotipo" class="text-danger"></span>
                <img src='@($"data:image/png;base64,{Model.Logotipo}")' style="max-width:200px;max-height:250px" alt="Logotipo do Cliente" />
            </div>
            @if (ViewBag.Erro != null && !(bool)ViewBag.Erro.Success)
            {
                <div id="error" class="alert alert-danger mb-2 mt-3" role="alert">
                    <span class="block sm:inline"> @ViewBag.Erro.Data</span>
                </div>
            }
            <a asp-controller="Cliente" asp-action="Index" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>

        <div class="mt-4">
            @Html.Partial("LogradouroPartial", ViewData)
        </div>
    }
    else
    {
        <p class="alert alert-warning">Cliente não encontrado.</p>
    }
</div>
